//Color of input left frame 
// using @import to use these colors

$inputColor: #ededed;
$clickOutlineColor: rgb(255, 8, 234);
$primary-base: #89C15D;
$primary-lightest: #E6F4DC;
$secondary-base: #A0A1A3;
$third-base:#474748;

$sidebar-bakground-color:  linear-gradient(180deg, #77B050 0%, #8AC860 47.49%, #77B050 97.49%);