@import "../../../../styles/colors.scss";
@import "../../../../styles/style.scss";

ul {
  list-style-type: none;
}

ul {
  & li.summary-list{
    color: $third-base;
    font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 26px;
  width: 180px;
  height: 48px;
  margin-top:20px;
  padding-left:10px ;
  padding-top:10px;
  }
  & li.summary-list:hover,li.summary-list.active{
    background-color: $primary-lightest;
    font-weight: 500;
    
  }
}

